.swiper {
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    width: calc(100% - 120px);

    height: 100%;

    padding: 0px 0px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }

  .swiper-slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }

  .swiper-slide-3f38 {
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    border-radius: 7px;
    
   
    }
    .swiper-slide-content {
      background-color: #2f2f2f;
      border-radius: 7px;
     display: flex;
     justify-content: center;
     padding: 1.4px;
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        background: rgb(172,172,172);
        background: linear-gradient(163deg, rgba(172,172,172,1) 0%, rgba(68,68,68,1) 100%); 
    }
    .swiper-slide-content-inner {
      background-color: #2f2f2f;
      z-index: 1;
      position: relative;
      border-radius: 7px;
      width: 100%;
      height: 100%;
      padding: 32px 70px;
    }
  }
  .swiper-slide-content-cd26 {

    flex-direction: column;
   
    gap: 0px;
    img {
      border-radius: 7px;
      width: 62px;
      height: 62px;
    }

    .swiper-slide-image {
      display: flex;
      gap: 15px;
      align-items: center;
      margin-bottom: 38px;
    }
  }
  .swiper-slide-text-79be {
    color: rgba(255, 255, 255, 1);
    text-align: left;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
  }
  .swiper-button-prev  {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .swiper-slide-quote {
    font-size: 120px;
    line-height: 1;
    position: absolute;
    right: 80px;
    top: 14px;
  }
  .swiper-button-next {
    position: absolute;
    right: 0;
    margin-top: -20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  .c-carousel-wrap {
    position: relative;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-flex; 
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 5px;
    scale: 0.7;
    &.swiper-pagination-bullet-active {
      background-color: #fff;
      scale: 1;
    }
  }