/* ==========================================================================
   VARIABLES
   ========================================================================== */

// ++ BREAKPOINTS +++++++++++++++++++++++++++++++++
$bp-small: 500px; 
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1320px;


// Match these to your theme.json layout settings.
// Also check the setting of any block plugins you use to match these.
// Keep the same, depricating wide usage.
$wrapper-width-wide: 1180px; // Gutenberg Wide wrapper
$wrapper-width-base: 1180px;  // Gutenberg Standard wrapper
// Match these to your theme.json layout settings.


$wrapper-width-narrow: 760px;

$page-header-height: 100px;


// ++ COLOURS +++++++++++++++++++++++++++++++++
$color-red:         #FF2323;

$color-pulse-orange:       #FF5B00; 
$color-primary:       #FF5B00; 



$color-white-flash:  #eee;
$color-gray-light:        #eee;

$color-gray-med:        #2F2F2F;
$color-secondary:       $color-gray-med;

$color-gray-dark:        #2F2F2F;

$color-black:           #1C1C1B;
$color-white:           #FFF;


// assign colours to variables
$alert-color:       $color-red;
$text-color:        $color-black;
$link-color:        $color-secondary;
$link-hover:        $color-gray-dark;
$border-color:      $color-gray-med;
$heading-color:     $color-gray-dark;


// ++ MISC VARS ++++++++++++++++++++++++++++++++++ 
// Logo

$logo-size: 300px;



// ++ TYPOGRAPHY +++++++++++++++++++++++++++++++++
// Fonts


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.arimo-400 {
   font-family: "Arimo", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }



.cairo-400 {
   font-family: "Cairo", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
     "slnt" 0;
 }

$font-primary: 'Arimo', sans-serif;
$font-secondary: 'Cairo', serif;

// Spacing
$line-height-normal: 1.50;
$line-height-tight: 1.10;
$line-height-loose: 1.70;
$letter-spacing: 0.125em; //2px

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;


// ++ TRANSITIONS +++++++++++++++++++++++++++++++++
$transition-ease: all 250ms ease;
$transition-ease-slow: all 400ms ease;