/* ==========================================================================
   HTML AND BODY ELEMENT STYLES
    - root font sizes set here so REMs scale with screen size increases
   ========================================================================== */
 
html {
 font-size: 16px;
 overflow-x: hidden;

}

// html {
//   @include responsive-font(1.85vw, 16px, 18px, 18px);
// }

body {
  overflow-x: hidden;
  color: $text-color;
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: $line-height-normal;
  -webkit-overflow-scrolling: touch;
  // padding-top: $page-header-height // match height of header used by headroom.js (if using)
  &.is-dark-page {
    background-color: $color-black;
  }
}